body {
    background-color:aliceblue;
    justify-content: center;
    margin: auto;
}

main{
    display: block;
    min-height: 200px;
}

footer{
    display: block;
    border-style:dotted;
    float:unset;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color:black;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

p {
    padding: 1cm;
    font-size: 20px;
    margin: auto;
    min-width: 50%;
    max-width: 60%;
    text-indent:4em;
    text-align: justify;

}

table {
    margin: auto;
    border: 2px;
    border-style: solid;
}


a:visited { 
    text-decoration: none;
    color:blue;
}


ul {
    display: inline-block;
    text-align: left;
    font-size: 22px;
    
}

.listas {
    text-align: center;
    margin: 60px 60px 60px 60px;
    width: 80%;
}

.fontebibliografica {
    font-size: x-large;
    padding-bottom: 50px;
    font-style: italic;
}

#historiamidi {    
    padding: 50px 0;
    max-width: 60%;
    min-width: 50%;
    margin: auto;
    }

video {
    margin: auto;
    display: block;
}

h1.headerhome {
    width: 1200px;
    height: 200px;
    position: center;
}


.nav1 {
    float: left;
    width: 33%;
}

.nav2 {
    float: left;
    width: 33%;
}

.nav3 {
    float: left;
    width: 33%;
}

.video {
    display: block;
    margin: auto; 
}



body::after {
    content: "";
    background: url("../img/musicatec.jpg");
    background-size:cover; 
    background-attachment: fixed;   
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }

