body {
    background-color:aliceblue;
    justify-content: center;
    margin: auto;
    max-width: 90%;
}

main {
    display: block;
}

footer{
    margin: 20%;
    max-width: 100%;
    float:unset;
   
}

h1{
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5em;
    font-size: 4em;
    max-width: 80%;
    color:black;
    margin: auto; 
    text-align: center;   
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
}

p {
    padding: 0.5em;
    font-size: 1.2em;
    margin: auto;
    min-width: 3em;
    max-width: 80% ;
    text-indent: 1em;
    text-align: justify;

}

table {
    margin: auto;
    border: 2px;
    border-style: solid;
}


a:visited { 
    text-decoration: none;
    color:blue;
}


ul {
    display: inline-block;
    text-align: left;
    font-size: 1em;
    
}

.listas {
    text-align: center;
    margin: 1em 1em 1em 1em;
    width: 80%;
}

.fontebibliografica {
    font-size: x-large;
    padding-bottom: 2em;
    font-style: italic;
}

#historiamidi {    
    padding: 2em 0;
    max-width: 60%;
    min-width: 50%;
    margin: auto;
    }

.video {
    margin: auto;
    display: block;
}

.imagem {
    margin: auto;
    display: block;
    max-width: 60%;
}

h1.headerhome {
    /* width: 1200px; */
    /* height: 200px; */
    position: center;
}


.nav {
    margin: auto;
    max-width: 100%;
    
}

.nav1 {
    float: left;
    width: 33%;
}

.nav2 {
    float: left;
    width: 33%;
}

.nav3 {
    float: left;
    width: 33%;
}

h3.contato {
    margin: auto;
    border-style:dotted;
    display: inline-block;
    min-width: 100%;
    padding: 1em 1em 1em 1em;
}

.video {
    display: block;
    margin: auto;
    max-width: fit-content; 
}



body::after {
    content: "";
    background: url("../img/musicatec.jpg");
    background-size:cover; 
    background-attachment: fixed;   
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }

 @media screen and (max-width:	480px)	{
	.nav1, .nav2, .nav3 {
        display: block;
        padding: 0.5em;
        float: none;
        margin: auto;
        text-align: center;
	}
    .navegue {
        margin: auto;

    }

    footer {
        border-style: none;
    }

}